@import './utils/mixins';
@import '../scss/utils/animations';

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

$primary-font: 'Roboto';
$title-font: 'Shrikhand';
$bold-font: 700;
$normal-font: 500;
$light-font: 300;

html, body {
    max-width: 100%;
    padding: 0;
    margin: 0;

    .loader {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -47.5px;
        margin-left: -47.5px;
        animation: 1s linear infinite loader-spin;

        & img {
        opacity: 0;
        animation: 2.5s ease-in loader-opacity;
        }
    }
    
    header, main, footer {
        animation: 3s page-loading;
    }
  
    .header {
      display: flex;
      flex-direction: column;
      height: 115px;

      &_logo {
        @include flex-row-center;
        height: 65%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        z-index: 1;
  
        & img {
          width: 162px;
          height: 30px;
        }
      }
  
      &_localisation-bar {
        @include flex-row-center;
        column-gap: 17px;
        background-color: #eaeaea;
        z-index: 0;
        font: 500 16px $primary-font;
        color: #353535;
      }
    }
  
    .exploration {
        text-align: center;
        padding: 1vh 10vw 5vh;
        background: #F7F7F7;

        & h1 {
            font: $bold-font 24px $primary-font;
        }

        & p {
            font: $light-font 18px $primary-font;
        }
  
        & button {
            background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
            border: 0;
            border-radius: 25px;
            color: white;
            font: $normal-font 16px $primary-font;
            padding: 13px 19px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            margin-top: 15px;
            transition: background 1s, box-shadow 1s;
        }

        & button:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        }
    }

    .explanation {

        display: flex;
        flex-direction: column;
        padding: 2vh 4vw 5vh;

        & h1 {
            font: $bold-font 24px $primary-font;
            margin-bottom: 40px;
        }

        &_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 3vh;
        }

        &_bar {

            display: flex;
            align-items: center;
            column-gap: 17px;
            background: #F7F7F7;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            width: 250px;
            padding: 1vh 3vw 1vh 0;

            & p, span{
                font: $normal-font 16px $primary-font;
            }

            & span {
                color: white;
                background: #9356DC;
                border-radius: 50%;
                padding: 5px 10px;
                position: relative;
                right: 15px;
                font-size: 15px;
            }

            & i {
                margin-left: -10px;
            }
        }

        &_bar:hover {
            i {
            color: #9356DC;
            }
        }    

        @include desktop-only {
            padding: 2vh 14vw 5vh;

            &_container {
                flex-direction: row;
                justify-content: space-between;
            }

        }
    }

    .restaurants {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        padding: 2vh 4vw 5vh;
        background: #F7F7F7;
        width: auto;
        
        & h1 {
            font: 700 24px "Roboto";
        }

        .card {
        width: 340px;
        height: 251px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        position: relative;
        align-self: center;

            &_badge {
                position: absolute;
                right: 15px;
                top: 0;
                background: #99E2D0;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
                border-radius: 2px;
                font: $normal-font 14px $primary-font;
                color:#008766;
                padding: 7px 9px;
            }
            &_text h2 {
                font: $bold-font 18px $primary-font;
                margin-bottom: -12px;
            }

            &_text p {
                font: $light-font 17px $primary-font;
            }
    
            & > img {
                width: 100%;
                object-fit: cover;
                height: 69%;
                border-radius: 15px 15px 0 0;
            }
            

            &_content {
                height: 31%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;

                .card_like {
                    position: relative;
                    right: 25px;
                    .card_unliked, .card_liked {
                        position: absolute;
                        transition: opacity 1s ease-in-out;
                    }
                    .card_liked {
                        opacity: 0;
                        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
                        transition: clip-path 1s ease-in-out, opacity 1s ease-in-out;
                    }
                }
                
                .card_like:hover .card_unliked {
                    opacity: 0;
                }
                
                .card_like:hover .card_liked {
                    opacity: 1;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
                
            }
        }

        @include desktop-only {
            padding: 2vh 210px 5vh;
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: auto 1fr 1fr; 
            gap: 50px 100px; 
            grid-template-areas: 
                "h1 ."
                "card1 card2"
                "card3 card4";
            justify-items: center;

            .card {
                width: 100%;
            }

            & h1 {
                grid-area: h1;
                justify-self: left;
                margin-bottom: -10px;
            }
            #card_1 { 
                grid-area: card1;
            }
            #card_2 { 
                grid-area: card2;
            }
            #card_3 { 
                grid-area: card3;
            }
            #card_4 { 
                grid-area: card4;
            }

        }
    }

    .footer {
        background: #353535;
        color: white;
        margin: 0;
        padding: 2vh 10vw 0;
        display: flex;
        flex-direction: column;
        align-items: start;

        & img {
            width: 99px;
            height: 18px;
        }
        
        & .navbar_list {
            @include navbar-link();
            font: $normal-font 16px $primary-font;

            &-lighter {
                @include navbar-link();
                font: $light-font 16px $primary-font;
            }
            i {
                padding-right: 15px;
            }
        }

        @include desktop-only {
            padding: 40px 0 10px;
            flex-direction: row-reverse;
            justify-content: end;
            align-items: center;
            
            & img {
                margin-right: 5vw;
            }

            .navbar {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 55%;
            }

            & .navbar_list, .navbar_list-lighter {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                column-gap: 40px;
            }        
        }
    }
}
