@keyframes menu-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu-apparition1 {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu-apparition2 {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  50% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes menu-apparition3 {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  66% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes page-loading {
  0% {
    opacity: 0.1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-opacity {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
body .body_container {
  display: flex;
  flex-direction: column;
}
body .body_container header {
  max-width: 100%;
  z-index: 0;
}
body .body_container header .header_logo {
  display: flex;
  justify-content: center;
}
body .body_container header .header_logo img {
  width: 162px;
  height: 30px;
  padding: 2vh 0;
}
body .body_container header .header_restaurant img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  body .body_container header .header_restaurant img {
    height: 375px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
body .body_container main {
  z-index: 1;
}
body .body_container main .menu_restaurant {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #F7F7F7;
  border-radius: 20px 20px 0 0;
  margin-top: -6vh;
  padding: 0 3vw;
}
@media screen and (min-width: 1024px) {
  body .body_container main .menu_restaurant {
    margin: -6vh 190px 0 190px;
  }
}
body .body_container main .menu_restaurant h1 {
  font: normal 28px "Shrikhand";
}
body .body_container main .menu_restaurant h2 {
  font: 300 16px "Roboto";
  border-bottom: 3px solid #99E2D0;
  width: 11%;
  padding-bottom: 1vh;
}
body .body_container main .menu_restaurant h3, body .body_container main .menu_restaurant span {
  font: 500 18px "Roboto";
}
body .body_container main .menu_restaurant p {
  font: 300 15px "Roboto";
}
body .body_container main .menu_restaurant .menu_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: last baseline;
  background: white;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  padding: 0 15px;
  margin-bottom: 3vh;
  height: 90px;
  position: relative;
  animation: menu-apparition 2s ease-out;
}
body .body_container main .menu_restaurant .menu_item span {
  transition: transform 0.5s ease-in-out;
}
body .body_container main .menu_restaurant .menu_item .menu_icon {
  background-color: #99E2D0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  -webkit-clip-path: inset(0 0 0 100%);
          clip-path: inset(0 0 0 100%);
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  position: absolute;
  right: 0;
}
body .body_container main .menu_restaurant .menu_item .menu_icon i {
  background-color: white;
  border-radius: 50%;
  padding: 3px 4.4px;
  transition: transform 0.6s ease-out;
  transition-delay: 0.1s;
}
body .body_container main .menu_restaurant .menu_section:nth-of-type(1) {
  animation: menu-apparition1 1.5s ease-out;
}
body .body_container main .menu_restaurant .menu_section:nth-of-type(2) {
  animation: menu-apparition2 3s ease-out;
}
body .body_container main .menu_restaurant .menu_section:nth-of-type(3) {
  animation: menu-apparition3 4.5s ease-out;
}
body .body_container main .menu_restaurant .menu_item:hover span, body .body_container main .menu_restaurant .menu_item:active span {
  transform: translateX(-60px);
}
body .body_container main .menu_restaurant .menu_item:hover .menu_icon, body .body_container main .menu_restaurant .menu_item:active .menu_icon {
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}
body .body_container main .menu_restaurant .menu_item:hover .menu_icon i, body .body_container main .menu_restaurant .menu_item:active .menu_icon i {
  transform: rotate(360deg);
}
body .body_container main button {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: 0;
  border-radius: 25px;
  color: white;
  font: 500 16px "Roboto";
  padding: 16px 49px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  margin: 2vh 0 5vh 0;
}
body .body_container main button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
body .body_container .footer {
  background: #353535;
  color: white;
  margin: 0;
  padding: 2vh 10vw 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}
body .body_container .footer img {
  width: 99px;
  height: 18px;
}
body .body_container .footer .navbar_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font: 500 16px "Roboto";
}
body .body_container .footer .navbar_list-lighter {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font: 300 16px "Roboto";
}
body .body_container .footer .navbar_list i {
  padding-right: 15px;
}
@media screen and (min-width: 1024px) {
  body .body_container .footer {
    padding: 40px 0 10px;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
  }
  body .body_container .footer img {
    margin-right: 5vw;
  }
  body .body_container .footer .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 55%;
  }
  body .body_container .footer .navbar_list, body .body_container .footer .navbar_list-lighter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}