html, body {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
html .header, body .header {
  display: flex;
  flex-direction: column;
  height: 115px;
}
html .header_logo, body .header_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 65%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
html .header_logo img, body .header_logo img {
  width: 162px;
  height: 30px;
}
html .header_localisation-bar, body .header_localisation-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
  background-color: #eaeaea;
  z-index: 0;
  font: 500 16px "Roboto";
  color: #353535;
}
html .exploration, body .exploration {
  text-align: center;
  padding: 1vh 10vw 5vh;
  background: #F7F7F7;
}
html .exploration h1, body .exploration h1 {
  font: 700 24px "Roboto";
}
html .exploration p, body .exploration p {
  font: 300 18px "Roboto";
}
html .exploration button, body .exploration button {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: 0;
  border-radius: 25px;
  color: white;
  font: 500 16px "Roboto";
  padding: 1.5vh 5vw;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
html .exploration button:hover, body .exploration button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  transition: 3s;
}
html .explanation, body .explanation {
  display: flex;
  flex-direction: column;
  padding: 2vh 4vw 5vh;
}
html .explanation h1, body .explanation h1 {
  font: 700 24px "Roboto";
}
html .explanation_container, body .explanation_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3vh;
}
html .explanation_bar, body .explanation_bar {
  display: flex;
  align-items: center;
  -moz-column-gap: 4.5vw;
       column-gap: 4.5vw;
  background: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 90%;
  padding: 1vh 0;
}
html .explanation_bar p, html .explanation_bar span, body .explanation_bar p, body .explanation_bar span {
  font: 500 16px "Roboto";
}
html .explanation_bar span, body .explanation_bar span {
  color: white;
  background: #9356DC;
  border-radius: 50%;
  padding: 0.2vh 1.5vw;
  position: relative;
  right: 8px;
  font-size: 15px;
}
html .explanation_bar:hover i, body .explanation_bar:hover i {
  color: #9356DC;
}
html .restaurants, body .restaurants {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  padding: 0 4vw;
  background: #F7F7F7;
}
html .restaurants h1, body .restaurants h1 {
  font: 700 24px "Roboto";
}
html .restaurants .card, body .restaurants .card {
  width: 100%;
  height: 251px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
html .restaurants .card h2, body .restaurants .card h2 {
  font: 700 18px "Roboto";
}
html .restaurants .card p, body .restaurants .card p {
  font: 300 17px "Roboto";
}
html .restaurants .card > img, body .restaurants .card > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 69%;
  border-radius: 15px 15px 0 0;
}
html .restaurants .card_content, body .restaurants .card_content {
  height: 31%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
}
html .footer, body .footer {
  background: #353535;
  color: white;
  margin: 0;
}
html .footer ul, body .footer ul {
  list-style: none;
}